## 파이썬 기초
* 기억장소
    - 변수
* 연산자
    - 산술 연산
    - 논리 연산
    - 비교 연산
* 구문
    - 비교문
    - 반복문
* 함수
* 클래스

### 프로그램이 하는 일
1. 기억장소에 데이터를 넣는다 (입력)
2. 기억장소의 데이터를 (수정/조작)
3. 기억장소의 데이터를 (판단)한다
4. 기억장소의 데이터를 출력(표현)한다
5. 반복 임무를 대행한다

### 기억장소 만들기: 변수 생성
* 변수 명명 규칙
    - 알파뉴메릭(A-Za-z1-9_)으로 작성
    - 시작은 숫자가 들어갈 수 없다
    - 띄어쓰기를 할 수 없다

In [ ]:
# 1abc=0 # 숫자로 시작 불가
# abc 1=0 # 띄어쓰기 없음
a1=0

### 변수특징
* 타입 형 지정이 없음
* 객체형 변수형태

In [ ]:
a1=3
print('a1 type:',type(a1))

a1 type: <class 'int'>

In [ ]:
a2='3'
print('a2 type:',type(a1))

a2 type: <class 'int'>

In [ ]:
b1=4
print('b1 type:',type(b1))

b1 type: <class 'int'>

In [ ]:
b2='4'
print('b2 type:',type(b2))

b2 type: <class 'str'>

In [ ]:
c1=a1+b1
print(c1)

7

In [ ]:
c2=a2+b2
print(c2)

34

In [ ]:
print(type(c2))

<class 'str'>

In [ ]:
d1 = c1+c2 # 다른 타입 간 연산 불가

In [ ]:
a1=3.7
b1=4
c=a1+b1
print(type(c),'=',type(a1),'+',type(b1))

<class 'float'> = <class 'float'> + <class 'int'>

### 데이터 형
* 단순형
    * int
    * float
    * str
* 배열형
    * 리스트 [ ] : ar[ ] # index, a = [ ] # 리스트 앞에 문자없음
    * 튜플 ( ): ar( ) # 함수 a= ( ) # 튜플
    * 딕서녀리 { }: {키:밸류} # { } 내부에 키 밸류 값으로 존재

In [ ]:
# 리스트형
ar = [1,2,3.2,'4',[5.1,6.2,'7,3']]
print(ar, type(ar))
print('ar의 2번째 요소 (인덱스는 0부터 시작):', ar[1])
ar[1]='2번째요소'
print('ar의 2번째 요소 (인덱스는 0부터 시작):', ar[1])

# 요소별 출력
i=0
for a in ar:
    print(i,'번째 요소:',a)
    i+=1

[1, 2, 3.2, '4', [5.1, 6.2, '7,3']] <class 'list'>
ar의 2번째 요소 (인덱스는 0부터 시작): 2
ar의 2번째 요소 (인덱스는 0부터 시작): 2번째요소
0 번째 요소: 1
1 번째 요소: 2번째요소
2 번째 요소: 3.2
3 번째 요소: 4
4 번째 요소: [5.1, 6.2, '7,3']

In [ ]:
# 튜플형
tr = (1,2,3.2,'4',[5.1,6.2,'7,3'])
print(tr, type(tr))
print('tr의 2번째 요소 (인덱스는 0부터 시작):', tr[1])
# tr[1]='2번째요소' # 튜플은 요소 수정 불가!
print('tr의 2번째 요소 (인덱스는 0부터 시작):', tr[1])

# 요소별 출력
i=0
for a in tr:
    print(i,'번째 요소:',a)
    i+=1

(1, 2, 3.2, '4', [5.1, 6.2, '7,3']) <class 'tuple'>
tr의 2번째 요소 (인덱스는 0부터 시작): 2
tr의 2번째 요소 (인덱스는 0부터 시작): 2
0 번째 요소: 1
1 번째 요소: 2
2 번째 요소: 3.2
3 번째 요소: 4
4 번째 요소: [5.1, 6.2, '7,3']

In [ ]:
# 딕서녀리형
dr = {1:2,2:'3.2','3.3':[5.1,6.2,'7,3']}
print(dr, type(dr))
print('dr의 인덱스 1인 요소 (인덱스는 키값):', dr[1])
print('dr의 인덱스"3":',dr['3.3'])
dr[1]='2번째요소' # 키를 참조해서 밸류값 수정가능
print(dr)

# 요소별 출력
i=0
for a in dr:
    print(i,'번째 요소:',a,'=>',dr[a])
    i+=1

{1: 2, 2: '3.2', '3.3': [5.1, 6.2, '7,3']} <class 'dict'>
dr의 인덱스 1인 요소 (인덱스는 키값): 2
dr의 인덱스"3": [5.1, 6.2, '7,3']
{1: '2번째요소', 2: '3.2', '3.3': [5.1, 6.2, '7,3']}
0 번째 요소: 1 => 2번째요소
1 번째 요소: 2 => 3.2
2 번째 요소: 3.3 => [5.1, 6.2, '7,3']

### 연산자
* 산술연산(6): + - * / % //
* 비교연산(6): > < >= <= == !=

In [ ]:
a1=5
b1=3
print('몫연산자:',a1//b1)
print('나머지연산자:',a1%b1)

몫연산자: 1
나머지연산자: 2

In [ ]:
print(a1>b1)

True

### 판단문 if
* if(조건식):
        참일 때 실행
        else:
        거짓일 때 실행

In [ ]:
if(a1>b1):
    print(a1,'은 ',b1,' 보다 큽니다.')
else:
    print(a1,'은 ',b1,'보다 크지 않습니다.')

5 은  3  보다 큽니다.

### 반복문 for
for 요소 in 배열:

### 반복문 while -> 무한루프에 조심
while(조건식):
        조건이 참인 경우 실행

### 이스케이프 문자열
* \t :  탭
* \n : 한 줄 내리기
* \\ : 역슬래쉬 표시

In [ ]:
print('안녕하세요 \t 여러분 \n 반갑습니다. \\ \\')

안녕하세요 	 여러분
 반갑습니다. \ \

### 구구단 표 만들기
* 3으로 나뉘어지는 수옆에 * 표시
* 4로 나뉘어지는 수 옆에 _ 표시

In [ ]:
for a in range(2, 10):
    for b in range(1, 10):
        if (a*b)%3 == 0:
            print(a, "X", b, "=", a*b, '*')
        elif (a*b)%4 == 0:
            print(a, "X", b, "=", a*b, '_')
        else:
            print(a, "X", b, "=", a*b)

In [ ]:
# 선생님 답안

for i in range(1,10):
    print('\n')
    for j in range(1,10):
        c = i*j
        if c%3==0:
            print(c,'*',end='\t')
        elif c%4==0:
            print(c,'_',end='\t')
        else:
            print(c, end='\t')

1	2	3 *	4 _	5	6 *	7	8 _	9 *

2	4 _	6 *	8 _	10	12 *	14	16 _	18 *

3 *	6 *	9 *	12 *	15 *	18 *	21 *	24 *	27 *

4 _	8 _	12 *	16 _	20 _	24 *	28 _	32 _	36 *

5	10	15 *	20 _	25	30 *	35	40 _	45 *

6 *	12 *	18 *	24 *	30 *	36 *	42 *	48 *	54 *

7	14	21 *	28 _	35	42 *	49	56 _	63 *

8 _	16 _	24 *	32 _	40 _	48 *	56 _	64 _	72 *

9 *	18 *	27 *	36 *	45 *	54 *	63 *	72 *	81 *

### 함수
* 선언부 def 함수명():
* 실행부 함수명()

In [ ]:
# 함수 정의하기 (a,b 매개변수를 활용)
# 매개변수의 합을 반환
def mAdd(a,b):
    # 함수 실행부
    c=a+b
    # 매개변수의 합을 반환
    return c

mAdd(3,4)

7

In [ ]:
#주민등록번호에서 생일 부분만 추출
temp='940318-1074413'
temp[0:6]

'940318'

In [ ]:
rnn="910625-1005822"
yymmdd=rnn[:6]
num=rnn[7:]
print(yymmdd,num)

910625 1005822

In [ ]:
a='20010331Rainy'
date=a[:8]
weather=a[8:]
print(date, weather)

20010331 Rainy

In [ ]:
b='Pithon'
new=b[:1]+'y'+b[2:]
print(new)

Python

In [ ]:
c=[1,2,['a','b',['Life','is']]]
print(c)

#리스트안에 리스트안에 리스트
c[2][2][0]

[1, 2, ['a', 'b', ['Life', 'is']]]

'Life'

### 함수 정의

In [ ]:
# 평균 구하는 함수 정의
def avg(kor,eng,math):
    return (kor+eng+math)/3

In [ ]:
avg(80,75,55)

70.0

In [ ]:
# for문으로 짝/홀 판별
val=[1,4,7,132]
for i in val:
    if(i%2==0):
        print('i={}는 짝수'.format(i))
    else:
        print('i={}는 홀수'.format(i))

## 함수def 구조
- def 함수형(인자1,인자2,...인자n):
    - 코드
    - return 반환값

In [ ]:
#인자도 반환값도 없는 함수
def my_func():
    print("my first fun")
    print("my first fun")

In [ ]:
my_func()

my first fun
my first fun

In [ ]:
#인자는 있으나 반환값이 없는 함수
def my_friend(name):
    print("{}는 나의 친구".format(name))

In [ ]:
my_friend("홍길동")

홍길동는 나의 친구

In [ ]:
aa="홍길동"
my_friend(aa)

홍길동는 나의 친구

In [ ]:
def my_info(name,id,number):
    print("이름=",name)
    print("id=",id)
    print("number=",number)

In [ ]:
my_info("길동",123,"010-353")

이름= 길동
id= 123
number= 010-353

In [ ]:
#인자도 있고 반환값도 있는 함수
def my_calc(x,y):
    z=x*y
    return z

In [ ]:
my_calc(3,5)

15

In [ ]:
res=my_calc(4,10)
res

40

In [ ]:
#*args 처럼 *를 붙이면 입력 값을 모두 모아 튜플로 만들어준다.
def sum_many(*args):
    sum=0
    for i in args:
        sum=sum+i
    return sum

In [ ]:
sum_many(1,2,3)

6

In [ ]:
def sum_many(*aa):
    sum=0
    for i in aa:
        sum=sum+i
    return sum

In [ ]:
sum_many(1,2,3)

6