### 전략 구현하기

In [1]:
# 필수 라이브러리 설치
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
# 데이터 가져오기
fs_path = r'E:\jupyter\Quant with Python\Excel_data\재무제표데이터.xlsx'
pd.read_excel(fs_path)

,Unnamed: 0,2012/02,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,2013/02,Unnamed: 9,...,Unnamed: 264,Unnamed: 265,Unnamed: 266,2020/11,Unnamed: 268,Unnamed: 269,Unnamed: 270,Unnamed: 271,Unnamed: 272,Unnamed: 273
0,NaN,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,...,영업활동으로인한현금흐름,자본,자산,당기순이익,매출액,부채,영업이익,영업활동으로인한현금흐름,자본,자산
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A098120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,A131100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,A009520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2288,A010240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2289,A189980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2290,A003280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2291,A037440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2292,A238490,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# 가져온 데이터 칼럼 수정
# 이전에 만들어놨던거처럼 만들기 위함
raw_data = pd.read_excel(fs_path,)
big_col = list(raw_data.columns)
small_col = list(raw_data.iloc[0])

In [4]:
big_col

['Unnamed: 0',
 '2012/02',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 'Unnamed: 7',
 '2013/02',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 'Unnamed: 14',
 '2014/02',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 'Unnamed: 21',
 '2014/08',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 'Unnamed: 28',
 '2017/06',
 'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 'Unnamed: 35',
 '2017/09',
 'Unnamed: 37',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 41',
 'Unnamed: 42',
 '2017/11',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 'Unnamed: 49',
 '2017/12',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 'Unnamed: 56',
 '2018/02',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 'Unnamed: 63',
 '2018/03',
 'Unnamed: 65',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 'Unnamed: 70',
 '2018/05',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Unnamed: 76',
 'Unnamed: 77',
 '2018/06',
 'Unnamed: 79',
 'Unnamed: 80',
 'Unnamed: 81',
 'Unnamed: 82',
 'Unnamed: 83',
 'Unnamed: 84',
 '2018/07',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 'Unnamed: 91',
 '2018/08',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Unnamed: 97',
 'Unnamed: 98',
 '2018/09',
 'Unnamed: 100',
 'Unnamed: 101',
 'Unnamed: 102',
 'Unnamed: 103',
 'Unnamed: 104',
 'Unnamed: 105',
 '2018/10',
 'Unnamed: 107',
 'Unnamed: 108',
 'Unnamed: 109',
 'Unnamed: 110',
 'Unnamed: 111',
 'Unnamed: 112',
 '2018/11',
 'Unnamed: 114',
 'Unnamed: 115',
 'Unnamed: 116',
 'Unnamed: 117',
 'Unnamed: 118',
 'Unnamed: 119',
 '2018/12',
 'Unnamed: 121',
 'Unnamed: 122',
 'Unnamed: 123',
 'Unnamed: 124',
 'Unnamed: 125',
 'Unnamed: 126',
 '2019/01',
 'Unnamed: 128',
 'Unnamed: 129',
 'Unnamed: 130',
 'Unnamed: 131',
 'Unnamed: 132',
 'Unnamed: 133',
 '2019/02',
 'Unnamed: 135',
 'Unnamed: 136',
 'Unnamed: 137',
 'Unnamed: 138',
 'Unnamed: 139',
 'Unnamed: 140',
 '2019/03',
 'Unnamed: 142',
 'Unnamed: 143',
 'Unnamed: 144',
 'Unnamed: 145',
 'Unnamed: 146',
 'Unnamed: 147',
 '2019/05',
 'Unnamed: 149',
 'Unnamed: 150',
 'Unnamed: 151',
 'Unnamed: 152',
 'Unnamed: 153',
 'Unnamed: 154',
 '2019/06',
 'Unnamed: 156',
 'Unnamed: 157',
 'Unnamed: 158',
 'Unnamed: 159',
 'Unnamed: 160',
 'Unnamed: 161',
 '2019/07',
 'Unnamed: 163',
 'Unnamed: 164',
 'Unnamed: 165',
 'Unnamed: 166',
 'Unnamed: 167',
 'Unnamed: 168',
 '2019/08',
 'Unnamed: 170',
 'Unnamed: 171',
 'Unnamed: 172',
 'Unnamed: 173',
 'Unnamed: 174',
 'Unnamed: 175',
 '2019/09',
 'Unnamed: 177',
 'Unnamed: 178',
 'Unnamed: 179',
 'Unnamed: 180',
 'Unnamed: 181',
 'Unnamed: 182',
 '2019/10',
 'Unnamed: 184',
 'Unnamed: 185',
 'Unnamed: 186',
 'Unnamed: 187',
 'Unnamed: 188',
 'Unnamed: 189',
 '2019/11',
 'Unnamed: 191',
 'Unnamed: 192',
 'Unnamed: 193',
 'Unnamed: 194',
 'Unnamed: 195',
 'Unnamed: 196',
 '2019/12',
 'Unnamed: 198',
 'Unnamed: 199',
 'Unnamed: 200',
 'Unnamed: 201',
 'Unnamed: 202',
 'Unnamed: 203',
 '2020/01',
 'Unnamed: 205',
 'Unnamed: 206',
 'Unnamed: 207',
 'Unnamed: 208',
 'Unnamed: 209',
 'Unnamed: 210',
 '2020/02',
 'Unnamed: 212',
 'Unnamed: 213',
 'Unnamed: 214',
 'Unnamed: 215',
 'Unnamed: 216',
 'Unnamed: 217',
 '2020/03',
 'Unnamed: 219',
 'Unnamed: 220',
 'Unnamed: 221',
 'Unnamed: 222',
 'Unnamed: 223',
 'Unnamed: 224',
 '2020/05',
 'Unnamed: 226',
 'Unnamed: 227',
 'Unnamed: 228',
 'Unnamed: 229',
 'Unnamed: 230',
 'Unnamed: 231',
 '2020/06',
 'Unnamed: 233',
 'Unnamed: 234',
 'Unnamed: 235',
 'Unnamed: 236',
 'Unnamed: 237',
 'Unnamed: 238',
 '2020/07',
 'Unnamed: 240',
 'Unnamed: 241',
 'Unnamed: 242',
 'Unnamed: 243',
 'Unnamed: 244',
 'Unnamed: 245',
 '2020/08',
 'Unnamed: 247',
 'Unnamed: 248',
 'Unnamed: 249',
 'Unnamed: 250',
 'Unnamed: 251',
 'Unnamed: 252',
 '2020/09',
 'Unnamed: 254',
 'Unnamed: 255',
 'Unnamed: 256',
 'Unnamed: 257',
 'Unnamed: 258',
 'Unnamed: 259',
 '2020/10',
 'Unnamed: 261',
 'Unnamed: 262',
 'Unnamed: 263',
 'Unnamed: 264',
 'Unnamed: 265',
 'Unnamed: 266',
 '2020/11',
 'Unnamed: 268',
 'Unnamed: 269',
 'Unnamed: 270',
 'Unnamed: 271',
 'Unnamed: 272',
 'Unnamed: 273']

In [5]:
small_col

[nan,
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산',
 '당기순이익',
 '매출액',
 '부채',
 '영업이익',
 '영업활동으로인한현금흐름',
 '자본',
 '자산']

In [6]:
# big_col 개선
new_big_col = []
for num, col in enumerate(big_col):
    if 'Unnamed' in col:
        new_big_col.append(big_col[num-1])
    else:
        new_big_col.append(big_col[num])

In [7]:
new_big_col # 다시 해야할 듯....

['Unnamed: 273',
 '2012/02',
 '2012/02',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6',
 '2013/02',
 '2013/02',
 'Unnamed: 9',
 'Unnamed: 10',
 'Unnamed: 11',
 'Unnamed: 12',
 'Unnamed: 13',
 '2014/02',
 '2014/02',
 'Unnamed: 16',
 'Unnamed: 17',
 'Unnamed: 18',
 'Unnamed: 19',
 'Unnamed: 20',
 '2014/08',
 '2014/08',
 'Unnamed: 23',
 'Unnamed: 24',
 'Unnamed: 25',
 'Unnamed: 26',
 'Unnamed: 27',
 '2017/06',
 '2017/06',
 'Unnamed: 30',
 'Unnamed: 31',
 'Unnamed: 32',
 'Unnamed: 33',
 'Unnamed: 34',
 '2017/09',
 '2017/09',
 'Unnamed: 37',
 'Unnamed: 38',
 'Unnamed: 39',
 'Unnamed: 40',
 'Unnamed: 41',
 '2017/11',
 '2017/11',
 'Unnamed: 44',
 'Unnamed: 45',
 'Unnamed: 46',
 'Unnamed: 47',
 'Unnamed: 48',
 '2017/12',
 '2017/12',
 'Unnamed: 51',
 'Unnamed: 52',
 'Unnamed: 53',
 'Unnamed: 54',
 'Unnamed: 55',
 '2018/02',
 '2018/02',
 'Unnamed: 58',
 'Unnamed: 59',
 'Unnamed: 60',
 'Unnamed: 61',
 'Unnamed: 62',
 '2018/03',
 '2018/03',
 'Unnamed: 65',
 'Unnamed: 66',
 'Unnamed: 67',
 'Unnamed: 68',
 'Unnamed: 69',
 '2018/05',
 '2018/05',
 'Unnamed: 72',
 'Unnamed: 73',
 'Unnamed: 74',
 'Unnamed: 75',
 'Unnamed: 76',
 '2018/06',
 '2018/06',
 'Unnamed: 79',
 'Unnamed: 80',
 'Unnamed: 81',
 'Unnamed: 82',
 'Unnamed: 83',
 '2018/07',
 '2018/07',
 'Unnamed: 86',
 'Unnamed: 87',
 'Unnamed: 88',
 'Unnamed: 89',
 'Unnamed: 90',
 '2018/08',
 '2018/08',
 'Unnamed: 93',
 'Unnamed: 94',
 'Unnamed: 95',
 'Unnamed: 96',
 'Unnamed: 97',
 '2018/09',
 '2018/09',
 'Unnamed: 100',
 'Unnamed: 101',
 'Unnamed: 102',
 'Unnamed: 103',
 'Unnamed: 104',
 '2018/10',
 '2018/10',
 'Unnamed: 107',
 'Unnamed: 108',
 'Unnamed: 109',
 'Unnamed: 110',
 'Unnamed: 111',
 '2018/11',
 '2018/11',
 'Unnamed: 114',
 'Unnamed: 115',
 'Unnamed: 116',
 'Unnamed: 117',
 'Unnamed: 118',
 '2018/12',
 '2018/12',
 'Unnamed: 121',
 'Unnamed: 122',
 'Unnamed: 123',
 'Unnamed: 124',
 'Unnamed: 125',
 '2019/01',
 '2019/01',
 'Unnamed: 128',
 'Unnamed: 129',
 'Unnamed: 130',
 'Unnamed: 131',
 'Unnamed: 132',
 '2019/02',
 '2019/02',
 'Unnamed: 135',
 'Unnamed: 136',
 'Unnamed: 137',
 'Unnamed: 138',
 'Unnamed: 139',
 '2019/03',
 '2019/03',
 'Unnamed: 142',
 'Unnamed: 143',
 'Unnamed: 144',
 'Unnamed: 145',
 'Unnamed: 146',
 '2019/05',
 '2019/05',
 'Unnamed: 149',
 'Unnamed: 150',
 'Unnamed: 151',
 'Unnamed: 152',
 'Unnamed: 153',
 '2019/06',
 '2019/06',
 'Unnamed: 156',
 'Unnamed: 157',
 'Unnamed: 158',
 'Unnamed: 159',
 'Unnamed: 160',
 '2019/07',
 '2019/07',
 'Unnamed: 163',
 'Unnamed: 164',
 'Unnamed: 165',
 'Unnamed: 166',
 'Unnamed: 167',
 '2019/08',
 '2019/08',
 'Unnamed: 170',
 'Unnamed: 171',
 'Unnamed: 172',
 'Unnamed: 173',
 'Unnamed: 174',
 '2019/09',
 '2019/09',
 'Unnamed: 177',
 'Unnamed: 178',
 'Unnamed: 179',
 'Unnamed: 180',
 'Unnamed: 181',
 '2019/10',
 '2019/10',
 'Unnamed: 184',
 'Unnamed: 185',
 'Unnamed: 186',
 'Unnamed: 187',
 'Unnamed: 188',
 '2019/11',
 '2019/11',
 'Unnamed: 191',
 'Unnamed: 192',
 'Unnamed: 193',
 'Unnamed: 194',
 'Unnamed: 195',
 '2019/12',
 '2019/12',
 'Unnamed: 198',
 'Unnamed: 199',
 'Unnamed: 200',
 'Unnamed: 201',
 'Unnamed: 202',
 '2020/01',
 '2020/01',
 'Unnamed: 205',
 'Unnamed: 206',
 'Unnamed: 207',
 'Unnamed: 208',
 'Unnamed: 209',
 '2020/02',
 '2020/02',
 'Unnamed: 212',
 'Unnamed: 213',
 'Unnamed: 214',
 'Unnamed: 215',
 'Unnamed: 216',
 '2020/03',
 '2020/03',
 'Unnamed: 219',
 'Unnamed: 220',
 'Unnamed: 221',
 'Unnamed: 222',
 'Unnamed: 223',
 '2020/05',
 '2020/05',
 'Unnamed: 226',
 'Unnamed: 227',
 'Unnamed: 228',
 'Unnamed: 229',
 'Unnamed: 230',
 '2020/06',
 '2020/06',
 'Unnamed: 233',
 'Unnamed: 234',
 'Unnamed: 235',
 'Unnamed: 236',
 'Unnamed: 237',
 '2020/07',
 '2020/07',
 'Unnamed: 240',
 'Unnamed: 241',
 'Unnamed: 242',
 'Unnamed: 243',
 'Unnamed: 244',
 '2020/08',
 '2020/08',
 'Unnamed: 247',
 'Unnamed: 248',
 'Unnamed: 249',
 'Unnamed: 250',
 'Unnamed: 251',
 '2020/09',
 '2020/09',
 'Unnamed: 254',
 'Unnamed: 255',
 'Unnamed: 256',
 'Unnamed: 257',
 'Unnamed: 258',
 '2020/10',
 '2020/10',
 'Unnamed: 261',
 'Unnamed: 262',
 'Unnamed: 263',
 'Unnamed: 264',
 'Unnamed: 265',
 '2020/11',
 '2020/11',
 'Unnamed: 268',
 'Unnamed: 269',
 'Unnamed: 270',
 'Unnamed: 271',
 'Unnamed: 272']

In [8]:
raw_data.columns = [new_big_col,small_col]
raw_data

     Unnamed: 273 2012/02      Unnamed: 2 Unnamed: 3    Unnamed: 4 Unnamed: 5  \
              NaN   당기순이익  매출액         부채       영업이익  영업활동으로인한현금흐름         자본
0             NaN   당기순이익  매출액         부채       영업이익  영업활동으로인한현금흐름         자본
1             NaN     NaN  NaN        NaN        NaN           NaN        NaN
2         A098120     NaN  NaN        NaN        NaN           NaN        NaN
3         A131100     NaN  NaN        NaN        NaN           NaN        NaN
4         A009520     NaN  NaN        NaN        NaN           NaN        NaN
...           ...     ...  ...        ...        ...           ...        ...
2288      A010240     NaN  NaN        NaN        NaN           NaN        NaN
2289      A189980     NaN  NaN        NaN        NaN           NaN        NaN
2290      A003280     NaN  NaN        NaN        NaN           NaN        NaN
2291      A037440     NaN  NaN        NaN        NaN           NaN        NaN
2292      A238490     NaN  NaN        NaN        NaN           NaN        NaN

     Unnamed: 6 2013/02       ...  Unnamed: 263 Unnamed: 264 Unnamed: 265  \
             자산   당기순이익  매출액  ...  영업활동으로인한현금흐름           자본           자산
0            자산   당기순이익  매출액  ...  영업활동으로인한현금흐름           자본           자산
1           NaN     NaN  NaN  ...           NaN          NaN          NaN
2           NaN     NaN  NaN  ...           NaN          NaN          NaN
3           NaN     NaN  NaN  ...           NaN          NaN          NaN
4           NaN     NaN  NaN  ...           NaN          NaN          NaN
...         ...     ...  ...  ...           ...          ...          ...
2288        NaN     NaN  NaN  ...           NaN          NaN          NaN
2289        NaN     NaN  NaN  ...           NaN          NaN          NaN
2290        NaN     NaN  NaN  ...           NaN          NaN          NaN
2291        NaN     NaN  NaN  ...           NaN          NaN          NaN
2292        NaN     NaN  NaN  ...           NaN          NaN          NaN

     2020/11      Unnamed: 268 Unnamed: 269  Unnamed: 270 Unnamed: 271  \
       당기순이익  매출액           부채         영업이익  영업활동으로인한현금흐름           자본
0      당기순이익  매출액           부채         영업이익  영업활동으로인한현금흐름           자본
1        NaN  NaN          NaN          NaN           NaN          NaN
2        NaN  NaN          NaN          NaN           NaN          NaN
3        NaN  NaN          NaN          NaN           NaN          NaN
4        NaN  NaN          NaN          NaN           NaN          NaN
...      ...  ...          ...          ...           ...          ...
2288     NaN  NaN          NaN          NaN           NaN          NaN
2289     NaN  NaN          NaN          NaN           NaN          NaN
2290     NaN  NaN          NaN          NaN           NaN          NaN
2291     NaN  NaN          NaN          NaN           NaN          NaN
2292     NaN  NaN          NaN          NaN           NaN          NaN

     Unnamed: 272
               자산
0              자산
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
2288          NaN
2289          NaN
2290          NaN
2291          NaN
2292          NaN

[2293 rows x 274 columns]

In [9]:
# 필요없는 행 없애기
fs_df = raw_data.loc[raw_data.index.dropna()]
fs_df

     Unnamed: 273 2012/02      Unnamed: 2 Unnamed: 3    Unnamed: 4 Unnamed: 5  \
              NaN   당기순이익  매출액         부채       영업이익  영업활동으로인한현금흐름         자본
0             NaN   당기순이익  매출액         부채       영업이익  영업활동으로인한현금흐름         자본
1             NaN     NaN  NaN        NaN        NaN           NaN        NaN
2         A098120     NaN  NaN        NaN        NaN           NaN        NaN
3         A131100     NaN  NaN        NaN        NaN           NaN        NaN
4         A009520     NaN  NaN        NaN        NaN           NaN        NaN
...           ...     ...  ...        ...        ...           ...        ...
2288      A010240     NaN  NaN        NaN        NaN           NaN        NaN
2289      A189980     NaN  NaN        NaN        NaN           NaN        NaN
2290      A003280     NaN  NaN        NaN        NaN           NaN        NaN
2291      A037440     NaN  NaN        NaN        NaN           NaN        NaN
2292      A238490     NaN  NaN        NaN        NaN           NaN        NaN

     Unnamed: 6 2013/02       ...  Unnamed: 263 Unnamed: 264 Unnamed: 265  \
             자산   당기순이익  매출액  ...  영업활동으로인한현금흐름           자본           자산
0            자산   당기순이익  매출액  ...  영업활동으로인한현금흐름           자본           자산
1           NaN     NaN  NaN  ...           NaN          NaN          NaN
2           NaN     NaN  NaN  ...           NaN          NaN          NaN
3           NaN     NaN  NaN  ...           NaN          NaN          NaN
4           NaN     NaN  NaN  ...           NaN          NaN          NaN
...         ...     ...  ...  ...           ...          ...          ...
2288        NaN     NaN  NaN  ...           NaN          NaN          NaN
2289        NaN     NaN  NaN  ...           NaN          NaN          NaN
2290        NaN     NaN  NaN  ...           NaN          NaN          NaN
2291        NaN     NaN  NaN  ...           NaN          NaN          NaN
2292        NaN     NaN  NaN  ...           NaN          NaN          NaN

     2020/11      Unnamed: 268 Unnamed: 269  Unnamed: 270 Unnamed: 271  \
       당기순이익  매출액           부채         영업이익  영업활동으로인한현금흐름           자본
0      당기순이익  매출액           부채         영업이익  영업활동으로인한현금흐름           자본
1        NaN  NaN          NaN          NaN           NaN          NaN
2        NaN  NaN          NaN          NaN           NaN          NaN
3        NaN  NaN          NaN          NaN           NaN          NaN
4        NaN  NaN          NaN          NaN           NaN          NaN
...      ...  ...          ...          ...           ...          ...
2288     NaN  NaN          NaN          NaN           NaN          NaN
2289     NaN  NaN          NaN          NaN           NaN          NaN
2290     NaN  NaN          NaN          NaN           NaN          NaN
2291     NaN  NaN          NaN          NaN           NaN          NaN
2292     NaN  NaN          NaN          NaN           NaN          NaN

     Unnamed: 272
               자산
0              자산
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
2288          NaN
2289          NaN
2290          NaN
2291          NaN
2292          NaN

[2293 rows x 274 columns]

In [10]:
# 재무데이터 전처리 함수화
def get_finance_data(path):
    data_path = path
    raw_data = pd.read_excel(data_path)
    big_col = list(raw_data.columns)
    small_col = list(raw_data.iloc[0])
    
    new_big_col = []
    for num,col in enumerate(big_col):
        if 'Unnamed' in col:
            new_big_col.append(big_col[num-1])
        else:
            new_big_col.append(big_col[num])
    
    raw_data.columns = [new_big_col, small_col]
    clean_df = raw_data.loc[raw_data.index.dropna()]
    
    return clean_df

In [11]:
# 재무비율 데이터와 투자지표 데이터 역시 똑같은 문제가 있으므로
# get_finance_data 함수를 활용하여 가져오면 됨

fs_path = r'E:\jupyter\Quant with Python\Excel_data\재무제표데이터.xlsx'
fs_df = get_finance_data(fs_path)

fr_path = r'E:\jupyter\Quant with Python\Excel_data\재무비율데이터.xlsx'
fr_df = get_finance_data(fr_path)

invest_path = r'E:\jupyter\Quant with Python\Excel_data\투자지표데이터.xlsx'
invest_df = get_finance_data(invest_path)

In [12]:
fs_df

     Unnamed: 273 2012/02      Unnamed: 2 Unnamed: 3    Unnamed: 4 Unnamed: 5  \
              NaN   당기순이익  매출액         부채       영업이익  영업활동으로인한현금흐름         자본
0             NaN   당기순이익  매출액         부채       영업이익  영업활동으로인한현금흐름         자본
1             NaN     NaN  NaN        NaN        NaN           NaN        NaN
2         A098120     NaN  NaN        NaN        NaN           NaN        NaN
3         A131100     NaN  NaN        NaN        NaN           NaN        NaN
4         A009520     NaN  NaN        NaN        NaN           NaN        NaN
...           ...     ...  ...        ...        ...           ...        ...
2288      A010240     NaN  NaN        NaN        NaN           NaN        NaN
2289      A189980     NaN  NaN        NaN        NaN           NaN        NaN
2290      A003280     NaN  NaN        NaN        NaN           NaN        NaN
2291      A037440     NaN  NaN        NaN        NaN           NaN        NaN
2292      A238490     NaN  NaN        NaN        NaN           NaN        NaN

     Unnamed: 6 2013/02       ...  Unnamed: 263 Unnamed: 264 Unnamed: 265  \
             자산   당기순이익  매출액  ...  영업활동으로인한현금흐름           자본           자산
0            자산   당기순이익  매출액  ...  영업활동으로인한현금흐름           자본           자산
1           NaN     NaN  NaN  ...           NaN          NaN          NaN
2           NaN     NaN  NaN  ...           NaN          NaN          NaN
3           NaN     NaN  NaN  ...           NaN          NaN          NaN
4           NaN     NaN  NaN  ...           NaN          NaN          NaN
...         ...     ...  ...  ...           ...          ...          ...
2288        NaN     NaN  NaN  ...           NaN          NaN          NaN
2289        NaN     NaN  NaN  ...           NaN          NaN          NaN
2290        NaN     NaN  NaN  ...           NaN          NaN          NaN
2291        NaN     NaN  NaN  ...           NaN          NaN          NaN
2292        NaN     NaN  NaN  ...           NaN          NaN          NaN

     2020/11      Unnamed: 268 Unnamed: 269  Unnamed: 270 Unnamed: 271  \
       당기순이익  매출액           부채         영업이익  영업활동으로인한현금흐름           자본
0      당기순이익  매출액           부채         영업이익  영업활동으로인한현금흐름           자본
1        NaN  NaN          NaN          NaN           NaN          NaN
2        NaN  NaN          NaN          NaN           NaN          NaN
3        NaN  NaN          NaN          NaN           NaN          NaN
4        NaN  NaN          NaN          NaN           NaN          NaN
...      ...  ...          ...          ...           ...          ...
2288     NaN  NaN          NaN          NaN           NaN          NaN
2289     NaN  NaN          NaN          NaN           NaN          NaN
2290     NaN  NaN          NaN          NaN           NaN          NaN
2291     NaN  NaN          NaN          NaN           NaN          NaN
2292     NaN  NaN          NaN          NaN           NaN          NaN

     Unnamed: 272
               자산
0              자산
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
2288          NaN
2289          NaN
2290          NaN
2291          NaN
2292          NaN

[2293 rows x 274 columns]

In [13]:
fr_df

     Unnamed: 20 2017/12        Unnamed: 2 Unnamed: 3 Unnamed: 4 2018/12  \
             NaN    유동비율   부채비율      영업이익률        ROA       ROIC    유동비율
0            NaN    유동비율   부채비율      영업이익률        ROA       ROIC    유동비율
1            NaN     NaN    NaN        NaN        NaN        NaN     NaN
2        A098120   739.3   11.8       -6.6       -9.0       -6.9   693.9
3        A009520   160.5   72.8        4.7        6.5       17.9   305.8
4        A095570    26.4  426.5        2.7        0.9      -18.2    94.0
...          ...     ...    ...        ...        ...        ...     ...
2222     A010240   178.4   41.2        9.6        9.4       15.4   217.2
2223     A189980   268.9   22.3        6.4        3.8        5.3   165.4
2224     A003280    35.8  542.3       -1.6       -6.8       -5.8    34.7
2225     A037440   148.1  160.8        5.4        2.7       10.2   148.2
2226     A238490   232.3   38.8       17.1       20.0       45.3   279.6

            Unnamed: 7 Unnamed: 8  ... 2019/12         Unnamed: 12  \
       부채비율      영업이익률        ROA  ...    유동비율    부채비율       영업이익률
0      부채비율      영업이익률        ROA  ...    유동비율    부채비율       영업이익률
1       NaN        NaN        NaN  ...     NaN     NaN         NaN
2      12.1      -13.8      -11.7  ...   564.7    14.3         2.0
3      39.1        6.3       10.6  ...   310.0    43.4         4.5
4     423.6       -2.0        1.5  ...    62.9   419.2         1.5
...     ...        ...        ...  ...     ...     ...         ...
2222   43.3        9.4       10.0  ...   220.1    36.9         8.5
2223   37.0        8.9        3.6  ...   160.7    39.4        10.8
2224  998.7      -11.1      -10.3  ...    46.4  1293.8       -12.1
2225  160.1        4.0        2.9  ...   129.4   194.9         4.1
2226   24.0       -4.8       -1.5  ...   214.0    42.7         9.1

     Unnamed: 13 Unnamed: 14 2020/09         Unnamed: 17 Unnamed: 18  \
             ROA        ROIC    유동비율    부채비율       영업이익률         ROA
0            ROA        ROIC    유동비율    부채비율       영업이익률         ROA
1            NaN         NaN     NaN     NaN         NaN         NaN
2            2.3         3.3   371.6    24.2         5.1         4.1
3            8.4        22.1   397.4    40.4         5.2         8.2
4            1.9         1.9    57.4   432.7         3.6        -0.2
...          ...         ...     ...     ...         ...         ...
2222         7.8        14.7   270.8    44.9        13.3        12.1
2223         6.2         8.0   155.0    43.2         7.1         4.2
2224        -8.3        -5.5    46.7  3223.4        -7.1        -5.1
2225         2.4         9.0   132.0   197.8         2.5         1.1
2226        11.1        15.8   369.1    27.7        30.3        29.6

     Unnamed: 19
            ROIC
0           ROIC
1            NaN
2            7.0
3           24.5
4           -3.0
...          ...
2222        23.0
2223         4.7
2224        -3.0
2225         5.1
2226        58.6

[2227 rows x 21 columns]

In [14]:
invest_df

     Unnamed: 20 2017/12        Unnamed: 2 Unnamed: 3 Unnamed: 4 2018/12  \
             NaN     PER    PCR        PSR        PBR      총현금흐름     PER
0            NaN     PER    PCR        PSR        PBR      총현금흐름     PER
1            NaN     NaN    NaN        NaN        NaN        NaN     NaN
2        A098120     NaN    NaN       1.45       1.07         -3     NaN
3        A009520    9.65   7.44       0.37       1.15        124   19.40
4        A095570   21.76   0.89       0.39       1.13       1515  186.12
...          ...     ...    ...        ...        ...        ...     ...
2230     A010240    6.26   4.24       0.47       0.79        103    9.48
2231     A189980   24.37   9.91       1.42       0.95         64   17.16
2232     A003280     NaN    NaN       0.11       0.69        139     NaN
2233     A037440   17.47  11.85       0.41       1.08         85   16.27
2234     A238490    9.19   8.36       1.22       2.42        144     NaN

             Unnamed: 7 Unnamed: 8  ... 2019/12        Unnamed: 12  \
         PCR        PSR        PBR  ...     PER    PCR         PSR
0        PCR        PSR        PBR  ...     PER    PCR         PSR
1        NaN        NaN        NaN  ...     NaN    NaN         NaN
2        NaN       0.78       0.62  ...   45.95  16.03        1.17
3      16.18       0.91       3.10  ...   18.82  14.83        0.69
4       0.66       0.20       0.73  ...    5.06   1.06        0.19
...      ...        ...        ...  ...     ...    ...         ...
2230    6.98       0.67       1.28  ...    7.79   5.41        0.52
2231    7.15       0.99       0.68  ...   12.32   6.77        1.22
2232     NaN       0.62       0.85  ...     NaN    NaN        0.50
2233   10.94       0.38       1.07  ...   16.20   7.20        0.33
2234  263.03       1.50       1.02  ...   18.26  16.00        1.81

     Unnamed: 13 Unnamed: 14 2020/09      Unnamed: 17 Unnamed: 18 Unnamed: 19
             PBR       총현금흐름     PER  PCR         PSR         PBR       총현금흐름
0            PBR       총현금흐름     PER  PCR         PSR         PBR       총현금흐름
1            NaN         NaN     NaN  NaN         NaN         NaN         NaN
2           1.23          23     NaN  NaN         NaN        1.15          24
3           2.21         128     NaN  NaN         NaN        2.04          93
4           0.73        1828     NaN  NaN         NaN        0.51        1259
...          ...         ...     ...  ...         ...         ...         ...
2230        0.81          98     NaN  NaN         NaN        0.81         107
2231        0.88          90     NaN  NaN         NaN        0.75          57
2232        1.67         141     NaN  NaN         NaN        2.50          64
2233        0.96          99     NaN  NaN         NaN        0.83          66
2234        2.50          94     NaN  NaN         NaN        1.78         238

[2235 rows x 21 columns]

* 저 PER, 고 ROA 추구
* PER은 주식의 저평가 정도를 알아보는 가장 대표적인 지표
* 그러므로 상대적으로 PER이 작은 주식을 선호

In [15]:
# 2020/09 기준으로 PER 작은 순으로 나열
invest_df.sort_values(by=('2020/09','PER'))

     Unnamed: 20 2017/12        Unnamed: 2 Unnamed: 3 Unnamed: 4 2018/12  \
             NaN     PER    PCR        PSR        PBR      총현금흐름     PER
0            NaN     PER    PCR        PSR        PBR      총현금흐름     PER
1            NaN     NaN    NaN        NaN        NaN        NaN     NaN
2        A098120     NaN    NaN       1.45       1.07         -3     NaN
3        A009520    9.65   7.44       0.37       1.15        124   19.40
4        A095570   21.76   0.89       0.39       1.13       1515  186.12
...          ...     ...    ...        ...        ...        ...     ...
2230     A010240    6.26   4.24       0.47       0.79        103    9.48
2231     A189980   24.37   9.91       1.42       0.95         64   17.16
2232     A003280     NaN    NaN       0.11       0.69        139     NaN
2233     A037440   17.47  11.85       0.41       1.08         85   16.27
2234     A238490    9.19   8.36       1.22       2.42        144     NaN

             Unnamed: 7 Unnamed: 8  ... 2019/12        Unnamed: 12  \
         PCR        PSR        PBR  ...     PER    PCR         PSR
0        PCR        PSR        PBR  ...     PER    PCR         PSR
1        NaN        NaN        NaN  ...     NaN    NaN         NaN
2        NaN       0.78       0.62  ...   45.95  16.03        1.17
3      16.18       0.91       3.10  ...   18.82  14.83        0.69
4       0.66       0.20       0.73  ...    5.06   1.06        0.19
...      ...        ...        ...  ...     ...    ...         ...
2230    6.98       0.67       1.28  ...    7.79   5.41        0.52
2231    7.15       0.99       0.68  ...   12.32   6.77        1.22
2232     NaN       0.62       0.85  ...     NaN    NaN        0.50
2233   10.94       0.38       1.07  ...   16.20   7.20        0.33
2234  263.03       1.50       1.02  ...   18.26  16.00        1.81

     Unnamed: 13 Unnamed: 14 2020/09      Unnamed: 17 Unnamed: 18 Unnamed: 19
             PBR       총현금흐름     PER  PCR         PSR         PBR       총현금흐름
0            PBR       총현금흐름     PER  PCR         PSR         PBR       총현금흐름
1            NaN         NaN     NaN  NaN         NaN         NaN         NaN
2           1.23          23     NaN  NaN         NaN        1.15          24
3           2.21         128     NaN  NaN         NaN        2.04          93
4           0.73        1828     NaN  NaN         NaN        0.51        1259
...          ...         ...     ...  ...         ...         ...         ...
2230        0.81          98     NaN  NaN         NaN        0.81         107
2231        0.88          90     NaN  NaN         NaN        0.75          57
2232        1.67         141     NaN  NaN         NaN        2.50          64
2233        0.96          99     NaN  NaN         NaN        0.83          66
2234        2.50          94     NaN  NaN         NaN        1.78         238

[2235 rows x 21 columns]

In [16]:
# 데이터 형태를 맞춰야 제대로 정렬이 일어날 것
# 숫자열로 바꾼 후 정렬해줘야 함
invest_df[('2020/09','PER')] = pd.to_numeric(invest_df[('2020/09','PER')])
per_sorted = invest_df.sort_values(by=('2020/09','PER'))

ValueError: Unable to parse string "PER" at position 0

In [ ]:
per_sorted['2020/09']

In [ ]:
# 고 ROA -> 내림차순으로 정렬
fr_df[('2020/09','ROA')] = pd.to_numeric(fr_df[('2020/09','ROA')]) # 에러 발생

In [ ]:
# 에러 해결 -> ROA 칼럼의 'N/A(IFRS)'를 NaN으로 바꾸기
def check_IFRS(x):
    if x=='N/A(IFRS)':
        return np.NaN
    else:
        return x

fr_df[('2020/09','ROA')] = pd.to_numeric(fr_df[('2020/09','ROA')]).apply(check_IFRS)

In [ ]:
# ROA 칼럼 기준으로 내림차순 정렬
fr_df[('2020/09','ROA')] = pd.to_numeric(fr_df[('2020/09','ROA')])
sorted_roa = fr_df.sort_values(by=('2020/09','ROA'), ascending=False)

In [ ]:
# PER 오름차순 함수 정리
def low_per(invest_df,index_date,num): # 투자지표 데이터, 기준 날짜, 반환할 주식의 개수를 인자로 받음
    invest_df[(index_date,'PER')] = pd.to_numeric(invest_df[(index_date,'PER')])
    per_sorted = invest_df.sort_values(by=(index_date,'PER'))
    return per_sorted[index_date][:num]

In [ ]:
# 예시
low_per(invest_df,'2020/09',10)

In [ ]:
# ROA 내림차순 함수 정리
def high_roa(fr_df,index_date,num):
    fr_df[(index_date,'ROA')] = fr_df[(index_date,'ROA')].apply(check_IFRS)
    fr_df[(index_date,'ROA')] = pd.to_numeric(fr_df[(index_date,'ROA')])
    sorted_roa = fr_df.sort_values(by=(index_date,'ROA'), ascending=False)
    return sorted_roa[index_date][:num]

In [ ]:
# 예시
high_roa(fr_df,'2020/09',10)

#### 저평가된 주식들
* PER 말고도 PBR, PSR, PCR과 같은 지표가 해당 주식의 저평가 정도를 알아보기 위해 많이 사용됨
* PER이 순이익 대비 주가의 저평가 정도를 나타내는 지표인 반면, PBR은 순자산 대비 주가의 저평가 정도를 나타냄
#### F-Score 
* 조셉 피오트로스키가 만든 F-Score는 우량 기업의 주식을 찾는 대표적인 방법
* 다음과 같은 조건들을 설정하고 조건이 충족하면 1점을 주고 아니면 0점을 주어서 총 점수를 계산함
  - 당기순이익이 0 이상인가?
  - 영업현금흐름이 0 이상인가?
  - ROA가 전년 대비 증가했는가?
  - 영업현금흐름이 순이익보다 높은가?
  - 부채비율이 전년 대비 감소했는가?
  - 유동비율이 저년 대비 증가했는가?
  - 당해 신규주식 발행을 하지 않았는가?
  - 매출총이익이 전년 대비 증가했는가?
  - 자산회전율이 전년 대비 증가했는가?
#### 모멘텀
* 추세추종 전략이라고도 함
* 최근 기간의 가격 추세가 일정 시간 지속이 될 것이라 가정하고 가격(수익률)이 상승한 주식을 사고 반대로 가격이 하락한 주식을 파는 전략
* 모멘텀 전략을 구현하는 가장 쉬운 방법 $\rightarrow$ 최근 n개월의 수익률을 계산하여 이를 종목들끼리 서로 비교하는 방법일 것
#### 밸류 + 퀄리티
* 저평가된 주식을 찾는 전략 + F-Score 전략

구현은 to be continued..